.home__section{
    display: flex;
    padding: 30px;
}

.home__second{
    background-color: black;
    display: flex; 
    flex-direction: column;
    flex: 1;
    height: 100vh;
    padding-left: 24px !important; 
    padding-right: 24px !important; 
    max-width: 1600px !important; 
    padding: 10px; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
}

.home__third{
    display: flex; 
    flex: 1;
    /* flex-direction:column; */
    height: 60vh;
    padding-left: 24px !important; 
    padding-right: 24px !important; 
    max-width: 1600px !important; 
    padding: 10px; 
    justify-content: center; 
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1500px;
}