.photo{
    height: 100vh;
    position: relative;
    background-image: url("https://images.unsplash.com/photo-1578815552961-cce5ebaa835b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1949&q=80");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* opacity: 0.8; */
}

.photo__info{
   color: white;
   padding-top: 25vh;
   padding-right: 50px;
   padding-bottom: 23px;
   padding-left: 100px;
   width: 300px;
   text-align: left;
   z-index: 1;
}

.photo__info > h1{
    font-size: 40px;
    letter-spacing: 1px;

}

.photo__info > h5{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}

.photo__info > button{
    background-color: white;
    color: rgb(32, 30, 30);
    text-transform: initial;
    margin-top: 20px;
    font-weight: 550;
}

.photo__info > button:hover{
    background-color: white;
    color: black;
}

.banner__search{
    top: 0;
    display: flex;
    flex-direction: column;
}

.banner__searchbutton{
    background-color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    color: #ff7779 !important;
}





.air__bar{
    margin-top: 30px !important;
    width: 50vw;
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    margin:0 auto;
    align-content: center;
    justify-content: center;
    background-color: white;
}


.air__barone{
    padding: 13px;
    margin: 1px;
    flex: 1;
}

.air__barone:hover{
   background-color: #E4E4E4;
   padding: 13px;
   margin: 1px;
   border-radius: 50px;
   cursor: pointer;
}

.air__bartwo{
    padding: 13px;
    margin: 1px;
    flex: 1;
}

.air__bartwo:hover{
    background-color: #E4E4E4;
    padding: 13px;
    margin: 1px;
    border-radius: 50px;
    cursor: pointer;
 }

.air__barthree{
    padding: 13px;
    margin: 1px;
    flex: 1;
}

.air__barthree:hover{
    background-color: #E4E4E4;
    padding: 13px;
    margin: 1px;
    border-radius: 50px;
    cursor: pointer;
 }

.air__barfour{
    padding: 13px;
    margin: 1px;
    flex: 1;

}

.air__barfour:hover{
    background-color: #E4E4E4;
    padding: 13px;
    margin: 1px;
    border-radius: 50px;
    cursor: pointer;
 }

 .air__barfive{
    padding: 13px;
    margin: 1px;
    flex: .2;
 }

 
 .air__barone > p{
       font-size: 12px;
       color: #1C1C1C;
 }
  .air__bartwo > p{
        font-size: 12px;
        color: #1C1C1C;
  }

  .air__barthree > p{
        font-size: 12px;
        color: #1C1C1C;
  }
  .air__barfour > p{
        font-size: 12px;
        color: #1C1C1C;
  }
 
 
 